# Demo : Nba Verileri

        1- İlk 10 kaydı getiriniz.

In [2]:
import pandas as pd
df = pd.read_csv("nba.csv")
print(df.head(10))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

        2- Toplam kaç kayıt vardır ?

In [4]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

result = len(df.index)

print(result)

458

        3- Tüm oyuncuların toplam maaş ortalaması nedir?

In [12]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

# kolonun ortalamasını alalım
result = df["Salary"].mean()    # mean ortalama alma metodu
print(result)

4842684.105381166

        4- En yüksek maaşı ne kadardır ?

In [ ]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

# kolonun maximumunu hesaplayalım
result = df["Salary"].max()

        5- En yüksek maaşı alan oyuncu kimdir?

In [19]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

result = df[df["Salary"]==df["Salary"].max()]["Name"].iloc[0]   # ilok index seçimi yapıyor
print(result) # salary kolonu en yüksek maaşa eşit olunca Name 'i al anlamına geliyor.

Kobe Bryant

        6- Yaşı 20-25 arasında olan oyuncuların isim ve oynadıkları takımları azalan şekilde sıralı getiriniz.

In [22]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

result = df[(df["Age"] >= 20) & (df["Age"] < 25)][["Name","Team","Age"]].sort_values("Age", ascending= False)   # ilgili kolon bu koşula uyuyorsa o satır bize gelecektir
print(result)                                                       # sort values ile sıraladık gelen bilgileri age 'e göre. ascending false olunca azalan değerlere göre sıralıyor.

                Name                   Team   Age
454        Raul Neto              Utah Jazz  24.0
75      Delon Wright        Toronto Raptors  24.0
416     Josh Huestis  Oklahoma City Thunder  24.0
107      Tarik Black     Los Angeles Lakers  24.0
110  Jordan Clarkson     Los Angeles Lakers  24.0
..               ...                    ...   ...
352  Justise Winslow             Miami Heat  20.0
393  Emmanuel Mudiay         Denver Nuggets  20.0
356     Aaron Gordon          Orlando Magic  20.0
377  Kelly Oubre Jr.     Washington Wizards  20.0
62     Bruno Caboclo        Toronto Raptors  20.0

[152 rows x 3 columns]

        7- "John Holland" isimli oyuncunun oynadığı takım hangisidir?

In [31]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

result = df[df["Name"] == "John Holland"][["Name","Team"]].iloc[0]
print(result)

Name      John Holland
Team    Boston Celtics
Name: 2, dtype: object

        8- Takımlara göre oyuncuların ortalama maaş bilgisi nedir?

In [33]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

result = df.groupby("Team").mean()["Salary"]
print(result)

Team
Atlanta Hawks             4.860197e+06
Boston Celtics            4.181505e+06
Brooklyn Nets             3.501898e+06
Charlotte Hornets         5.222728e+06
Chicago Bulls             5.785559e+06
Cleveland Cavaliers       7.642049e+06
Dallas Mavericks          4.746582e+06
Denver Nuggets            4.294424e+06
Detroit Pistons           4.477884e+06
Golden State Warriors     5.924600e+06
Houston Rockets           5.018868e+06
Indiana Pacers            4.450122e+06
Los Angeles Clippers      6.323643e+06
Los Angeles Lakers        4.784695e+06
Memphis Grizzlies         5.467920e+06
Miami Heat                6.347359e+06
Milwaukee Bucks           4.350220e+06
Minnesota Timberwolves    4.593054e+06
New Orleans Pelicans      4.355304e+06
New York Knicks           4.581494e+06
Oklahoma City Thunder     6.251020e+06
Orlando Magic             4.297248e+06
Philadelphia 76ers        2.213778e+06
Phoenix Suns              4.229676e+06
Portland Trail Blazers    3.220121e+06
Sacramento Kings          4.778911e+06
San Antonio Spurs         5.629516e+06
Toronto Raptors           4.741174e+06
Utah Jazz                 4.204006e+06
Washington Wizards        5.088576e+06
Name: Salary, dtype: float64

C:\Users\Yasin\AppData\Local\Temp\ipykernel_3196\2843322550.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = df.groupby("Team").mean()["Salary"]

        9- Kaç farklı takım mevcut?

In [35]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

# gruplayalım sonra len() ile sayısını alalım
result = len(df.groupby("Team"))
print(result)

# diğer bir öğrendiğimiz metod
result = df["Team"].nunique()   # unique :tekrarlayan alanları teke indiriyordu
print(result)                   # nunique : unique yapıp sayısını veriyordu

30
30

        10- Her takımda kaç oyuncu oynamaktadır ?

In [36]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

result = df["Team"].value_counts() # value_counts team alanı için kaç value( değer) olduğunu gösteriyor.
print(result)

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

        11- İsmi içinde "and" geçen kayıtları bulunuz?

In [38]:
import pandas as pd
df = pd.read_csv("nba.csv")
#--- temel kod

# hata veriyor o nedenle öncesinde NaN olan değerleri değiştirmeliyiz
df = df.dropna()

# contains içerip içermediğine bakalım.
result = df[df["Name"].str.contains("and")] # contains and içerip içermediğine bakar
print(result)

                 Name                    Team  Number Position   Age Height  \
52        Carl Landry      Philadelphia 76ers     7.0       PF  32.0    6-9
87       Brandon Rush   Golden State Warriors     4.0       SF  30.0    6-6
94     Branden Dawson    Los Angeles Clippers    22.0       SF  23.0    6-6
106      Brandon Bass      Los Angeles Lakers     2.0       PF  31.0    6-8
115     Julius Randle      Los Angeles Lakers    30.0       PF  21.0    6-9
127    Brandon Knight            Phoenix Suns     3.0       PG  24.0    6-3
149     Eric Moreland        Sacramento Kings    25.0       PF  24.0   6-10
238  Chandler Parsons        Dallas Mavericks    25.0       SF  27.0   6-10
271     Zach Randolph       Memphis Grizzlies    50.0       PF  34.0    6-9
274    Brandan Wright       Memphis Grizzlies    34.0       PF  28.0   6-10
291   Orlando Johnson    New Orleans Pelicans     0.0       SG  27.0    6-5
386   Wilson Chandler          Denver Nuggets    21.0       SF  29.0    6-8
415        Randy Foye   Oklahoma City Thunder     6.0       SG  32.0    6-4
427   Cliff Alexander  Portland Trail Blazers    34.0       PF  20.0    6-8

     Weight           College      Salary
52    248.0            Purdue   6500000.0
87    220.0            Kansas   1270964.0
94    225.0    Michigan State    525093.0
106   250.0               LSU   3000000.0
115   250.0          Kentucky   3132240.0
127   189.0          Kentucky  13500000.0
149   238.0      Oregon State    845059.0
238   230.0           Florida  15361500.0
271   260.0    Michigan State   9638555.0
274   210.0    North Carolina   5464000.0
291   220.0  UC Santa Barbara     55722.0
386   225.0            DePaul  10449438.0
415   213.0         Villanova   3135000.0
427   240.0            Kansas    525093.0