# Pandas Uygulama : Imdb Filmlerinin Veri Analizi

        1- Dosyada hakkındaki bilgiler.

In [11]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
# temel kod

# kolon bilgisine bir bakalım
result = df.columns
print(result)

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [10]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
# temel kod

# data frame in infosuna bakabiliriz
result = df.info()
print(result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB
None

        2- ilk 5 kaydı gösterin.

In [13]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df

print(result.head())    # ilk 5 kayıt

                                         Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...

               Series_Title Released_Year Certificate  Runtime  \
0  The Shawshank Redemption          1994           A  142 min
1             The Godfather          1972           A  175 min
2           The Dark Knight          2008          UA  152 min
3    The Godfather: Part II          1974           A  202 min
4              12 Angry Men          1957           U   96 min

                  Genre  IMDB_Rating  \
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0

               Director           Star1           Star2          Star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart
3  Francis Ford Coppola       Al Pacino  Robert De Niro  Robert Duvall
4          Sidney Lumet     Henry Fonda     Lee J. Cobb  Martin Balsam

            Star4  No_of_Votes        Gross
0  William Sadler      2343110   28,341,469
1    Diane Keaton      1620367  134,966,411
2   Michael Caine      2303232  534,858,444
3    Diane Keaton      1129952   57,300,000
4    John Fiedler       689845    4,360,000

        3- ilk 10 kaydı gösterin

In [15]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df

print(result.head(10))  # ilk 10 kaydı gösterir

                                         Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...
5  https://m.media-amazon.com/images/M/MV5BNzA5ZD...
6  https://m.media-amazon.com/images/M/MV5BNGNhMD...
7  https://m.media-amazon.com/images/M/MV5BNDE4OT...
8  https://m.media-amazon.com/images/M/MV5BMjAxMz...
9  https://m.media-amazon.com/images/M/MV5BMmEzNT...

                                    Series_Title Released_Year Certificate  \
0                       The Shawshank Redemption          1994           A
1                                  The Godfather          1972           A
2                                The Dark Knight          2008          UA
3                         The Godfather: Part II          1974           A
4                                   12 Angry Men          1957           U
5  The Lord of the Rings: The Return of the King          2003           U
6                                   Pulp Fiction          1994           A
7                               Schindler's List          1993           A
8                                      Inception          2010          UA
9                                     Fight Club          1999           A

   Runtime                      Genre  IMDB_Rating  \
0  142 min                      Drama          9.3
1  175 min               Crime, Drama          9.2
2  152 min       Action, Crime, Drama          9.0
3  202 min               Crime, Drama          9.0
4   96 min               Crime, Drama          9.0
5  201 min   Action, Adventure, Drama          8.9
6  154 min               Crime, Drama          8.9
7  195 min  Biography, Drama, History          8.9
8  148 min  Action, Adventure, Sci-Fi          8.8
9  139 min                      Drama          8.8

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0
5  Gandalf and Aragorn lead the World of Men agai...        94.0
6  The lives of two mob hitmen, a boxer, a gangst...        94.0
7  In German-occupied Poland during World War II,...        94.0
8  A thief who steals corporate secrets through t...        74.0
9  An insomniac office worker and a devil-may-car...        66.0

               Director              Star1                 Star2  \
0        Frank Darabont        Tim Robbins        Morgan Freeman
1  Francis Ford Coppola      Marlon Brando             Al Pacino
2     Christopher Nolan     Christian Bale          Heath Ledger
3  Francis Ford Coppola          Al Pacino        Robert De Niro
4          Sidney Lumet        Henry Fonda           Lee J. Cobb
5         Peter Jackson        Elijah Wood       Viggo Mortensen
6     Quentin Tarantino      John Travolta           Uma Thurman
7      Steven Spielberg        Liam Neeson         Ralph Fiennes
8     Christopher Nolan  Leonardo DiCaprio  Joseph Gordon-Levitt
9         David Fincher          Brad Pitt         Edward Norton

               Star3             Star4  No_of_Votes        Gross
0         Bob Gunton    William Sadler      2343110   28,341,469
1         James Caan      Diane Keaton      1620367  134,966,411
2      Aaron Eckhart     Michael Caine      2303232  534,858,444
3      Robert Duvall      Diane Keaton      1129952   57,300,000
4      Martin Balsam      John Fiedler       689845    4,360,000
5       Ian McKellen     Orlando Bloom      1642758  377,845,905
6  Samuel L. Jackson      Bruce Willis      1826188  107,928,762
7       Ben Kingsley  Caroline Goodall      1213505   96,898,818
8        Elliot Page      Ken Watanabe      2067042  292,576,195
9          Meat Loaf      Zach Grenier      1854740   37,030,102

        4- Son 5 kaydı gösterin

In [16]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

print(result.tail())

                                           Poster_Link  \
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

               Series_Title Released_Year Certificate  Runtime  \
995  Breakfast at Tiffany's          1961           A  115 min
996                   Giant          1956           G  201 min
997   From Here to Eternity          1953      Passed  118 min
998                Lifeboat          1944         NaN   97 min
999            The 39 Steps          1935         NaN   86 min

                        Genre  IMDB_Rating  \
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              Overview  Meta_score  \
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

             Director              Star1              Star2           Star3  \
995     Blake Edwards     Audrey Hepburn     George Peppard   Patricia Neal
996    George Stevens   Elizabeth Taylor        Rock Hudson      James Dean
997    Fred Zinnemann     Burt Lancaster   Montgomery Clift    Deborah Kerr
998  Alfred Hitchcock  Tallulah Bankhead        John Hodiak   Walter Slezak
999  Alfred Hitchcock       Robert Donat  Madeleine Carroll  Lucie Mannheim

              Star4  No_of_Votes       Gross
995     Buddy Ebsen       166544         NaN
996   Carroll Baker        34075         NaN
997      Donna Reed        43374  30,500,000
998  William Bendix        26471         NaN
999  Godfrey Tearle        51853         NaN

        5- Son 10 kaydı gösterin

In [17]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

print(result.tail(10))      # son 10 kayıt

                                           Poster_Link  \
990  https://m.media-amazon.com/images/M/MV5BYjRmY2...
991  https://m.media-amazon.com/images/M/MV5BMzAyND...
992  https://m.media-amazon.com/images/M/MV5BMjAwMT...
993  https://m.media-amazon.com/images/M/MV5BYTE4YW...
994  https://m.media-amazon.com/images/M/MV5BZjQyMG...
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

               Series_Title Released_Year Certificate  Runtime  \
990            Giù la testa          1971          PG  157 min
991          Kelly's Heroes          1970          GP  144 min
992         The Jungle Book          1967           U   78 min
993                  Blowup          1966           A  111 min
994      A Hard Day's Night          1964           U   87 min
995  Breakfast at Tiffany's          1961           A  115 min
996                   Giant          1956           G  201 min
997   From Here to Eternity          1953      Passed  118 min
998                Lifeboat          1944         NaN   97 min
999            The 39 Steps          1935         NaN   86 min

                            Genre  IMDB_Rating  \
990           Drama, War, Western          7.6
991        Adventure, Comedy, War          7.6
992  Animation, Adventure, Family          7.6
993      Drama, Mystery, Thriller          7.6
994        Comedy, Music, Musical          7.6
995        Comedy, Drama, Romance          7.6
996                Drama, Western          7.6
997           Drama, Romance, War          7.6
998                    Drama, War          7.6
999      Crime, Mystery, Thriller          7.6

                                              Overview  Meta_score  \
990  A low-life bandit and an I.R.A. explosives exp...        77.0
991  A group of U.S. soldiers sneaks across enemy l...        50.0
992  Bagheera the Panther and Baloo the Bear have a...        65.0
993  A fashion photographer unknowingly captures a ...        82.0
994  Over two "typical" days in the life of The Bea...        96.0
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

                   Director              Star1              Star2  \
990            Sergio Leone        Rod Steiger       James Coburn
991         Brian G. Hutton     Clint Eastwood      Telly Savalas
992     Wolfgang Reitherman        Phil Harris    Sebastian Cabot
993  Michelangelo Antonioni     David Hemmings   Vanessa Redgrave
994          Richard Lester        John Lennon     Paul McCartney
995           Blake Edwards     Audrey Hepburn     George Peppard
996          George Stevens   Elizabeth Taylor        Rock Hudson
997          Fred Zinnemann     Burt Lancaster   Montgomery Clift
998        Alfred Hitchcock  Tallulah Bankhead        John Hodiak
999        Alfred Hitchcock       Robert Donat  Madeleine Carroll

               Star3             Star4  No_of_Votes        Gross
990     Romolo Valli       Maria Monti        30144      696,690
991      Don Rickles  Carroll O'Connor        45338    1,378,435
992      Louis Prima  Bruce Reitherman       166409  141,843,612
993      Sarah Miles       John Castle        56513          NaN
994  George Harrison       Ringo Starr        40351   13,780,024
995    Patricia Neal       Buddy Ebsen       166544          NaN
996       James Dean     Carroll Baker        34075          NaN
997     Deborah Kerr        Donna Reed        43374   30,500,000
998    Walter Slezak    William Bendix        26471          NaN
999   Lucie Mannheim    Godfrey Tearle        51853          NaN

        6- Sadece Movie_Title kolonunu alın.

In [19]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df["Series_Title"]
print(result)

0      The Shawshank Redemption
1                 The Godfather
2               The Dark Knight
3        The Godfather: Part II
4                  12 Angry Men
                 ...
995      Breakfast at Tiffany's
996                       Giant
997       From Here to Eternity
998                    Lifeboat
999                The 39 Steps
Name: Series_Title, Length: 1000, dtype: object

        7- Sadece Movie_Title kolonunu içeren ilk 5 kaydı alın.

In [20]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df["Series_Title"].head()
print(result)

0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3      The Godfather: Part II
4                12 Angry Men
Name: Series_Title, dtype: object

        8- Sadece Movie_Title ve Rating kolonunu içeren ilk 5 kaydı alın.

In [21]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df[["Series_Title","IMDB_Rating"]].head()
print(result)

               Series_Title  IMDB_Rating
0  The Shawshank Redemption          9.3
1             The Godfather          9.2
2           The Dark Knight          9.0
3    The Godfather: Part II          9.0
4              12 Angry Men          9.0

        9- Sadece Movie_Title ve Rating kolonunu içeren son 7 kaydı alın

In [26]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df[["Series_Title","IMDB_Rating"]].tail(7) 
print(result)

               Series_Title  IMDB_Rating
993                  Blowup          7.6
994      A Hard Day's Night          7.6
995  Breakfast at Tiffany's          7.6
996                   Giant          7.6
997   From Here to Eternity          7.6
998                Lifeboat          7.6
999            The 39 Steps          7.6

        10- Sadece Movie_Title ve Rating kolonunu içeren ikinci 5 kaydı alın.

In [27]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df[5:10][["Series_Title","IMDB_Rating"]].head() 
print(result)

                                    Series_Title  IMDB_Rating
5  The Lord of the Rings: The Return of the King          8.9
6                                   Pulp Fiction          8.9
7                               Schindler's List          8.9
8                                      Inception          8.8
9                                     Fight Club          8.8

        11- Sadece Movie_Title ve Rating kolonunu içeren ve imdb puanı 8.0 ve üstünde olan kayıtlardan ilk 50 tanesini alınız.

In [45]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df[df["IMDB_Rating"] > 8.0][["Series_Title","IMDB_Rating"]].head(50)
print(result)

                                         Series_Title  IMDB_Rating
0                            The Shawshank Redemption          9.3
1                                       The Godfather          9.2
2                                     The Dark Knight          9.0
3                              The Godfather: Part II          9.0
4                                        12 Angry Men          9.0
5       The Lord of the Rings: The Return of the King          8.9
6                                        Pulp Fiction          8.9
7                                    Schindler's List          8.9
8                                           Inception          8.8
9                                          Fight Club          8.8
10  The Lord of the Rings: The Fellowship of the Ring          8.8
11                                       Forrest Gump          8.8
12                    Il buono, il brutto, il cattivo          8.8
13              The Lord of the Rings: The Two Towers          8.7
14                                         The Matrix          8.7
15                                         Goodfellas          8.7
16     Star Wars: Episode V - The Empire Strikes Back          8.7
17                    One Flew Over the Cuckoo's Nest          8.7
18                                           Hamilton          8.6
19                                       Gisaengchung          8.6
20                                    Soorarai Pottru          8.6
21                                       Interstellar          8.6
22                                     Cidade de Deus          8.6
23                      Sen to Chihiro no kamikakushi          8.6
24                                Saving Private Ryan          8.6
25                                     The Green Mile          8.6
26                                    La vita è bella          8.6
27                                              Se7en          8.6
28                           The Silence of the Lambs          8.6
29                                          Star Wars          8.6
30                                            Seppuku          8.6
31                               Shichinin no samurai          8.6
32                              It's a Wonderful Life          8.6
33                                              Joker          8.5
34                                           Whiplash          8.5
35                                   The Intouchables          8.5
36                                       The Prestige          8.5
37                                       The Departed          8.5
38                                        The Pianist          8.5
39                                          Gladiator          8.5
40                                 American History X          8.5
41                                 The Usual Suspects          8.5
42                                               Léon          8.5
43                                      The Lion King          8.5
44                         Terminator 2: Judgment Day          8.5
45                              Nuovo Cinema Paradiso          8.5
46                                     Hotaru no haka          8.5
47                                 Back to the Future          8.5
48                       Once Upon a Time in the West          8.5
49                                             Psycho          8.5

        12- Yayın tarihi 2014 ile 2015 arasında olan filmlerin isimlerini getiriniz.

In [ ]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df[(df["Released_Year"].astype(int) >= 2014) & (df["Released_Year"].astype(int) <= 2015)][["Series_Title","Released_Year"]]
print(result)
# seçilen csv dosyasından kaynaklı hata veriyor

        13- Değerlendirme sayısı (Num_Reviews) 100.000 den büyük ya da imdb puanı 8 ile 9 arsında olan filmleri listeleyiniz.

In [ ]:
import pandas as pd
df = pd.read_csv("imdb_top_1000.csv")
result = df
#------ temel kod

result = df[(df["Certificate"] > 100000) | ((df["IMDB_Rating"] >= 8) & (df["IMDB_Rating"] <= 9))]
print(result)
# seçilen csv dosyasından kaynaklı hata veriyor