# Pandas DataFrame ile Groupby

In [1]:
import pandas as pd

personeller = {
    'Çalışan':['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman':['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
    }
df = pd.DataFrame(personeller)

# tabloyu yazdır
result = df
print(result)

# maaşları topla
result = df["Maaş"].sum()
print(result)
print("              --")

# departmanlara göre grupla
result = df.groupby("Departman").groups
print(result)   # index numarası ile cevap veriyor
print("              --")


# hem aynı departman hem aynı semt olmasına göre grupla
result = df.groupby(["Departman","Semt"]).groups
print(result)
print("              --")

         Çalışan         Departman  Yaş     Semt  Maaş
0   Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  5000
1     Can Ertürk       Bilgi İşlem   25    Tuzla  3000
2  Hasan Korkmaz          Muhasebe   45  Maltepe  4000
3    Cenk Saymaz  İnsan Kaynakları   50    Tuzla  3500
4      Ali Turan       Bilgi İşlem   23  Maltepe  2750
5    Rıza Ertürk          Muhasebe   34    Tuzla  6500
6    Mustafa Can  İnsan Kaynakları   42  Kadıköy  4500
29250
              --
{'Bilgi İşlem': [1, 4], 'Muhasebe': [2, 5], 'İnsan Kaynakları': [0, 3, 6]}
              --
{('Bilgi İşlem', 'Maltepe'): [4], ('Bilgi İşlem', 'Tuzla'): [1], ('Muhasebe', 'Maltepe'): [2], ('Muhasebe', 'Tuzla'): [5], ('İnsan Kaynakları', 'Kadıköy'): [0, 6], ('İnsan Kaynakları', 'Tuzla'): [3]}
              --

* devam

In [16]:
import pandas as pd

personeller = {
    'Çalışan':['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman':['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
    }
df = pd.DataFrame(personeller)
#--- temel kod


# semte göre gruplama yapalım ve döngü oluşturalım
semtler = df.groupby("Semt")

for name, group in semtler:
    print(name)
    print(group)    # hangi insanlar hangi semtte çalışıyor gruplayıp gösterdi
print("             ◽   ◽   ◽")

# departmana göre yapalım aynısını..
departmanlar = df.groupby("Departman")

for name, group in departmanlar:
    print(name)
    print(group)

Kadıköy
        Çalışan         Departman  Yaş     Semt  Maaş
0  Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  5000
6   Mustafa Can  İnsan Kaynakları   42  Kadıköy  4500
Maltepe
         Çalışan    Departman  Yaş     Semt  Maaş
2  Hasan Korkmaz     Muhasebe   45  Maltepe  4000
4      Ali Turan  Bilgi İşlem   23  Maltepe  2750
Tuzla
       Çalışan         Departman  Yaş   Semt  Maaş
1   Can Ertürk       Bilgi İşlem   25  Tuzla  3000
3  Cenk Saymaz  İnsan Kaynakları   50  Tuzla  3500
5  Rıza Ertürk          Muhasebe   34  Tuzla  6500
             ◽   ◽   ◽
Bilgi İşlem
      Çalışan    Departman  Yaş     Semt  Maaş
1  Can Ertürk  Bilgi İşlem   25    Tuzla  3000
4   Ali Turan  Bilgi İşlem   23  Maltepe  2750
Muhasebe
         Çalışan Departman  Yaş     Semt  Maaş
2  Hasan Korkmaz  Muhasebe   45  Maltepe  4000
5    Rıza Ertürk  Muhasebe   34    Tuzla  6500
İnsan Kaynakları
        Çalışan         Departman  Yaş     Semt  Maaş
0  Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  5000
3   Cenk Saymaz  İnsan Kaynakları   50    Tuzla  3500
6   Mustafa Can  İnsan Kaynakları   42  Kadıköy  4500

* devam

In [20]:
import pandas as pd

personeller = {
    'Çalışan':['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman':['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
    }
df = pd.DataFrame(personeller)
#--- temel kod

# Semtlerden sadece tek bir grubu nasıl alırım..
result = df.groupby("Semt").get_group("Kadıköy")
print(result)   # sadece kadıköyde oturanları aldık
print("             ◽   ◽   ◽")

# departmanı muhasebe olanları alalım
result = df.groupby("Departman").get_group("Muhasebe")
print(result)

        Çalışan         Departman  Yaş     Semt  Maaş
0  Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  5000
6   Mustafa Can  İnsan Kaynakları   42  Kadıköy  4500
             ◽   ◽   ◽
         Çalışan Departman  Yaş     Semt  Maaş
2  Hasan Korkmaz  Muhasebe   45  Maltepe  4000
5    Rıza Ertürk  Muhasebe   34    Tuzla  6500

* aldığımız gruplar üzerinde işlemler yapalım
* maaş ortalaması v.b

In [7]:
import pandas as pd

personeller = {
    'Çalışan':['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman':['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
    }
df = pd.DataFrame(personeller)
#--- temel kod

# departmana göre bir gruplama yapıp toplam isteyelim
result = df.groupby("Departman").sum()
print(result)   # kolon belirlemeyince departmanlardaki maaş ve yaş toplamını getirdi
print("             ◽   ◽   ◽")


# yukarıdakinin maaşların ortalaması olan hali gelsin
result = df.groupby("Departman").mean()
print(result)   # yaş / maaş ortalaması verdi departmanlara göre
print("             ◽   ◽   ◽")


# yukarıdakinin sadece maaş ort. gelsin
result = df.groupby("Departman")["Maaş"].mean()
print(result)
print("             ◽   ◽   ◽")

# semte maaşlara baktık
result = df.groupby("Semt")["Yaş"].mean()
print(result)
print("             ◽   ◽   ◽")

# semtlere göre çalışan sayısı
result = df.groupby("Semt")["Çalışan"].count()
print(result)  
print("             ◽   ◽   ◽")

                  Yaş   Maaş
Departman
Bilgi İşlem        48   5750
Muhasebe           79  10500
İnsan Kaynakları  122  13000
             ◽   ◽   ◽
                        Yaş         Maaş
Departman
Bilgi İşlem       24.000000  2875.000000
Muhasebe          39.500000  5250.000000
İnsan Kaynakları  40.666667  4333.333333
             ◽   ◽   ◽
Departman
Bilgi İşlem         2875.000000
Muhasebe            5250.000000
İnsan Kaynakları    4333.333333
Name: Maaş, dtype: float64
             ◽   ◽   ◽
Semt
Kadıköy    36.000000
Maltepe    34.000000
Tuzla      36.333333
Name: Yaş, dtype: float64
             ◽   ◽   ◽
Semt
Kadıköy    2
Maltepe    2
Tuzla      3
Name: Çalışan, dtype: int64
             ◽   ◽   ◽
Departman
Bilgi İşlem         25
Muhasebe            45
İnsan Kaynakları    50
Name: Yaş, dtype: int64
             ◽   ◽   ◽

C:\Users\Yasin\AppData\Local\Temp\ipykernel_17644\959810616.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = df.groupby("Departman").sum()
C:\Users\Yasin\AppData\Local\Temp\ipykernel_17644\959810616.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = df.groupby("Departman").mean()

* devam

In [12]:
import pandas as pd

personeller = {
    'Çalışan':['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman':['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
    }
df = pd.DataFrame(personeller)
#--- temel kod

# her departmanda çalışan max yaşlar.
result = df.groupby("Departman")["Yaş"].max()
print(result)
print("             ◽   ◽   ◽")

# her departmanda çalışan min maaş miktarları.
result = df.groupby("Departman")["Maaş"].min()
print(result)
print("             ◽   ◽   ◽")

# sadece muhasebenin maximum maaş bilgisine ulaşalım.
result = df.groupby("Departman")["Maaş"].max()["Muhasebe"]
print(result)

Departman
Bilgi İşlem         25
Muhasebe            45
İnsan Kaynakları    50
Name: Yaş, dtype: int64
             ◽   ◽   ◽
Departman
Bilgi İşlem         2750
Muhasebe            4000
İnsan Kaynakları    3500
Name: Maaş, dtype: int64
             ◽   ◽   ◽
6500

* devam

        agg()

In [19]:
import pandas as pd
personeller = {
    'Çalışan':['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman':['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
    }
df = pd.DataFrame(personeller)
#--- temel kod

import numpy as np

# agg metodunu kullanarak bir hesaplama işlemi yapalım. (numpy da kullanalım)
# agg metodu sayesinde seçilen departman ve maaş yaş bilgilerini kolayca toplama ortalama alma max ve min alma işlemlerini birden yapabiliriz.
# agg metodu kullanarak ortalama alalım.
result = df.groupby("Departman").agg(np.mean)   # departmana göre bir ortalama işlemi yapılır.
print(result)
print("             ◽   ◽   ◽")

# agg() içine birden fazla parametre verebiliriz
# maaş Tüm departmanlardaki sadece maaş bilgisi için toplam ortalama max min değerlerini yazsın.
result = df.groupby("Departman")["Maaş"].agg([np.sum,np.mean,np.max,np.min])
print(result)
print("             ◽   ◽   ◽")

# yukarıdakini sadece bir departmana özel yapmak istersek .loc[] ekleyebiliriz
result = df.groupby("Departman")["Maaş"].agg([np.sum,np.mean,np.max,np.min]).loc["Muhasebe"]
print(result)   # sadece muhasebe için yaptık

                        Yaş         Maaş
Departman
Bilgi İşlem       24.000000  2875.000000
Muhasebe          39.500000  5250.000000
İnsan Kaynakları  40.666667  4333.333333
             ◽   ◽   ◽
                    sum         mean   max   min
Departman
Bilgi İşlem        5750  2875.000000  3000  2750
Muhasebe          10500  5250.000000  6500  4000
İnsan Kaynakları  13000  4333.333333  5000  3500
             ◽   ◽   ◽
sum     10500.0
mean     5250.0
max      6500.0
min      4000.0
Name: Muhasebe, dtype: float64

C:\Users\Yasin\AppData\Local\Temp\ipykernel_17644\2307297283.py:17: FutureWarning: The operation <function mean at 0x00000215FFA26FC0> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  result = df.groupby("Departman").agg(np.mean)   # departmana göre bir ortalama işlemi yapılır.